*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    height: 80px;
    width: 100%;
}
.header_section ul{
    float: right;
    color: black;
    margin-right: 20px;
}
.header_section ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
.header_section a{
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}
.header_section a:hover{
    border-bottom: 2px solid black;
}
@media (max-width: 952px){
    .header_section{
        font-size: 30px;
        padding-left: 50px;
    }
    .header_section ul li a{
        font-size: 16px;
    }
}
/* main ka code */
main{
    
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;

}
.home_section{
    font-weight: 400;
    font-size: 45px;
    margin: 40px 0px 30px 60px;
}
 p{
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0px 0px 150px;
}
hr{
    width: 95%;
    margin: 20px auto;
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
}
.skills_section{
    font-weight: 500;
    font-size: 25px;
    margin: 40px 0px 30px 90px;
}
.myntra_clone a{
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}
.contact_text{
    margin-left: 70px;
}
.contact p a{
    text-decoration: none;
    color: black;
}
.contact_text p{
    margin-left: 25px;
}
.contact_text2{
    margin-left: 70px;
    font-size: 20px;
}
main{
    margin-bottom: 100px;
}
.footer_section{
    width: 100%;
    height: 200px;
    background-color: #fAfBfC;
    align-items: center;
    justify-content: center;
}
.footer_section p{
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0px 0px 5px;
}
.footer_section p a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
} 
